body{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    background-color: #DBC2E8;

    
}
@keyframes example {
    0%   {background-color:rgb(218, 149, 235);left:0px}
    25%  {background-color:rgb(136, 82, 167);left:200px}
    50%  {background-color:rgb(216, 128, 243);left:0px}
    75%  {background-color:rgb(164, 89, 187);left:200px}
    100% {background-color:#DBC2E8;left:0px}
}

.icon{
    transition:.8s ease-in-out;
    width: 10%;
    margin-top: 5%;
    transition: transform .4s;
}
.icon:hover{
    transform: rotate(360deg);
}

.card-img{
    opacity: 0;
    width: 85%;
    height: auto;
    overflow: hidden;
    transition: transform .2s;
}
.card-img:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: 1;
  }
.heading{ 
    text-align: center;
    font-size: 3.5rem;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.card {
    border-radius:2%;
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #C192E7;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 5px 1px #895BA2;
    transition:.8s ease-in;
    filter: grayscale(55%)
}

.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
}

.card-desc{
    font-size: 1.3rem;
    font-weight: bold;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem
}

.card:hover{
   transform:translateY(-1.5rem);
   transition:.5s all;
   filter: grayscale(0%)
}

a{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform .2s;
}

/*reg link*/
a:link {
    color: black;
  }
  
  /*past link*/
  a:visited {
    color: #83549e;
  }
  
  /*hover over*/
  a:hover {
    color: #5B41A2;
    transform: scale(1.4);
  }
  
  /*selected being pressed on*/
  a:active { 
    color: #a039db;
  }

@media screen and (max-width: 1200px) {
.card{
        width:40%;
    }
    
}
@media screen and (max-width: 800px) {
    .card{
        width:100%;
    }
}
