body{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    background-color: #DBC2E8;

}
@keyframes example {
    0%   {background-color:rgb(218, 149, 235);}
    25%  {background-color:rgb(136, 82, 167);}
    50%  {background-color:rgb(216, 128, 243);}
    75%  {background-color:rgb(164, 89, 187);}
    100% {background-color:#DBC2E8;}
}

.icon{
    transition:.8s ease-in-out;
    width: 10%;
    animation-name: example;
    animation-duration: 10s;
    margin-top: 1.3rem;
}

.heading{ 
    text-align: center;
    font-size: 3rem;
}

.card {
    border-radius:2%;
    width: 27%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #C192E7;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 5px 1px #895BA2;
    transition:.8s ease-in;
    filter: grayscale(55%)
}

.card-title{
    font-size: 2.2rem;
    text-transform: uppercase;
}
.card-img{
    width: 85%;
    height: auto;
    overflow: hidden;
}
.card-desc{
    font-size: 1.3rem;
    font-weight: bold;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem
}

.card:hover{
   transform:translateY(-1.5rem);
   transition:.5s all;
   filter: grayscale(0%)
}

a{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
/*reg link*/
a:link {
    color: black;
  }
  
  /*past link*/
  a:visited {
    color: #83549e;
  }
  
  /*hover over*/
  a:hover {
    color: #5B41A2;
  }
  
  /*selected being pressed on*/
  a:active { 
    color: #a039db;
  }